[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-cas = "*"
sqlalchemy = "*"
asyncpg = "*"
structlog = "*"

[dev-packages]

[requires]
python_version = "3.12"
